/*	--------------------------------------------------
Global Reset - Resets all browser defaults to 0
-------------------------------------------------- */
body { background:#bfd8e7; color:#555;}
a { color:#0281ca; }
a:hover { color:#333; }

#content .post_top a, #content p.post_bottom a, span.comm-reply a { color:#0281ca; }
#content .post_top a:hover, #content p.post_bottom a:hover, span.comm-reply a:hover { color:#333;}
#content p.post_bottom, span.comm-reply {color:#635c53; }


/* Structure ---------------------- */
#wrapper { background:#fff; border:1px solid #92a7b4; border-top:none; }
#sidebar { background: url(../images/sidebarbg.png) no-repeat left bottom; }
.sidebar_left  { background: url(../images/sidebarbg.png) no-repeat right bottom !important;  }
.content_3col { border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; }

.registernchekout_m, .sign_in_l, .checkout_r  { background:#eee; border:1px solid #ddd; }

.slider { background:url(../images/slider_center.png) repeat-y left; }
.slider_top { background:url(../images/slider_top.png) no-repeat top left; }
.slider_bottom { background:url(../images/slider_bottom.png) no-repeat bottom left; }
.banner_img  img { border:1px solid #ccc; }





/* header ---------------------- */

#header-in .shoppingcart_box { background:url(1-default/bag.png) no-repeat left 10px;  }
.main_navi {  background:#cdcdcd url(1-default/navbg.png) repeat-x top; border-bottom:1px solid #9c9c9c; border-right:1px solid #92a7b4; border-left:1px solid #92a7b4; }

/*---------TOP NAVIGATION for PAGES---------  */
.main_navi ul { border-bottom:1px solid #b7d7ea; }
.main_navi ul li a { border:none; color:#3a3632; }
.main_navi ul li a:hover {color:#3a3632; background:#cbcaca; }
.main_navi ul li ul li a { border:1px solid #b7d7ea;  border-bottom:none;  }

.main_navi ul li.current_page_item a, .main_navi ul li.current_page_parent a{ background:#cbcaca; color:#000; }
.main_navi ul li.current_page_item a:hover { background:#cbcaca; color:#333; }
.main_navi ul li li { background:#fff; color:#000; }
.main_navi ul li li li { background:#fff; color:#000; }
.main_navi ul li ul li a, .main_navi ul li ul li ul li a, .main_navi ul li ul li ul li ul li a { color:#0281ca !important; background:#fff !important; }
.main_navi ul li ul li a:hover, .main_navi ul li ul li ul li a:hover, .main_navi ul li ul li ul li ul li a:hover { color:#000 !important; background:#e1f0fa !important; }
/* #end */





/*---------TOP NAVIGATION for PAGES---------  */
.top_navigation { background:#666;  }
.top_navigation ul { }
.top_navigation ul li a { border:none; color:#fff; border:none; }
.top_navigation ul li a:hover {color:#fff; background:#333; }
.top_navigation ul li ul li a { border:1px solid #ccc; border-top:none;  }

.top_navigation ul li.current_page_item a, .top_navigation ul li.current_page_parent a{ background:#fff; color:#000; }
.top_navigation ul li.current_page_item a:hover { background:#eee; color:#333; }
.top_navigation ul li li { background:#fff; color:#000; }
.top_navigation ul li li li { background:#fff; color:#000; }
.top_navigation ul li ul li a, .top_navigation ul li ul li ul li a, .top_navigation ul li ul li ul li ul li a { color:#444 !important; background:#fff !important; }
.top_navigation ul li ul li a:hover, .top_navigation ul li ul li ul li a:hover, .top_navigation ul li ul li ul li ul li a:hover { color:#000 !important; background:#eee !important; }
/* #end */


/*---------TOP NAVIGATION for PAGES---------  */
.category_navi { background:#cecece; border:1px solid #acacac; border-top:none;  }
.category_navi ul { border-bottom:1px solid #acacac; }
.category_navi ul li a { border:none; color:#666; border:none; }
.category_navi ul li a:hover {color:#fff; background:#555; }
.category_navi ul li ul li a { border:1px solid #c3c3c3;  border-bottom:none;  }

.category_navi ul li.current_page_item a, .category_navi ul li.current_page_parent a{ background:#cbcaca; color:#000; }
.category_navi ul li.current_page_item a:hover { background:#eee; color:#333; }
.category_navi ul li li { background:#fff; color:#000; }
.category_navi ul li li li { background:#fff; color:#000; }
.category_navi ul li ul li a, .category_navi ul li ul li ul li a, .category_navi ul li ul li ul li ul li a { color:#666 !important; background:#fff !important; }
.category_navi ul li ul li a:hover, .category_navi ul li ul li ul li a:hover, .category_navi ul li ul li ul li ul li a:hover { color:#333 !important; background:#eee !important; }
/* #end */
 

#content .addtocart a { background:url(1-default/b_addtocart.png) no-repeat; }
#content .addtocart a:hover {  background-position:0 -31px;  }

.product_info p { border-bottom:1px solid #eee }
.product_info .row, #shopingcartfrm .row {  border-bottom:1px solid #eee; padding-top:12px; padding-bottom:12px; }

#content .product_details select { border:1px solid #ccc; }
#content .product_details .textbox { border:1px solid #ccc; }



/* content section  ---------------------- */
.b_buynow { background:url(1-default/b_buynow.png) no-repeat; border:none; }
.b_buynow:hover { background-position:0 -32px; } 

.button { background:url(1-default/b_viewdetail.png) no-repeat; border:none; }
.button:hover { background-position:0 -29px; } 

/*#breadcrumb section  =================================== */
.breadcrumb {border-bottom:1px dotted #dfdfdf;  background:#fff; color:#333 } 
.breadcrumb a { color:#0281ca;  }
.breadcrumb a:hover { color:#333; }

/* Banner ---------------------- */
.coda-nav-left a { background:url(../images/left.png) no-repeat left top;  }
.coda-nav-right a { background:url(../images/right.png) no-repeat left top;  }


/* post ----------------------------*/
#content .post_top h2 a { color:#0281ca; }
#content .post_top h2 a:hover { color:#333; }
.commentcount { background:url(../images/i_comment.png) no-repeat 5px 2px; }
.commentcount a { color:#777; }
#content .posts { border-bottom:4px solid #c4c4c4; }

/* Post Pagination */
.pagination .on { background:#178bce; color:#fff; }
.pagination a, #content .pagination a { background:#97adba; color:#fff; }
.pagination a:hover, #content .pagination a:hover { background:#3a5f74; color:#fff; }


/*#sidebar ----------------------- */
#sidebar li, .sidebar_l li, .sidebar_r li { color:#635c53; }
#sidebar li a, .sidebar_l li a, .sidebar_r li a { background:url(1-default/i_bullet.gif) no-repeat 5px 13px; color:#444;   }
#sidebar li a:hover, .sidebar_l li a:hover, .sidebar_r li a:hover { background:url(1-default/i_bullet.gif) no-repeat 5px 13px; color:#000;  }
#sidebar h3, .sidebar_l h3, .sidebar_r h3 { color:#fff; background:#0281ca;  }

#sidebar #recentcomments li, .sidebar_l #recentcomments li, .sidebar_r #recentcomments li   { background:url(1-default/i_bullet.gif) no-repeat 5px 13px;  }
#sidebar .subscribe p { color:#666; }
.field { border:1px solid #a9a9a9; background:#fff; color:#333; }
.replace { background:url(1-default/b_go.png) no-repeat; border:none; color:#fff; }


/*---------COMMENTS --------- */
#comments h3{ border-bottom:1px dotted #ccc; }
#comments .comment {background:none; }
#comments  p.authorcomment a {  color:#666; }
#comments  p.authorcomment a:hover { color:#000; }

#comments .comment .text-right { border:none; background:#ddecf5 url(1-default/commentbg.png) no-repeat center left; }
#comments .comment .authcomment{ background:#c1dced url(1-default/commentbg_author.png) no-repeat center left; border:none;  }
#comments .comment .authcomment p { color:#333; }
#comments span.comm-reply{ color:#666;  border:none; background:#fff; }
#comments span.comm-reply:hover { border:none;  }

#respond textarea, .commpadd input{ background:none; border:1px solid #c6c6c6;  }
#respond textarea:hover, .commpadd input:hover, .commpadd input:focus, #respond textarea:focus { background:#e5e4e4; }

input#submit{ color:#fff; background:#0281ca; border:2px solid #ccc;  }
.avatar { border:2px solid #c6c6c6; }

/* footer ---------------------------- */
.fnav li { border-right:1px solid #0281ca; }
.fnav li a { color:#0281ca; }
.fnav li a:hover { color:#333;}

#footer p { color:#015484; }
#footer .copyright , #footer .copyright  a { color:#015484; }
#footer p a:hover {  color:#333; }

/* ----------------------------------------
product listing view 
------------------------------------*/
.msg { float:left; margin-right:10px;  }
 
#content ul.display li { background:none; border-bottom:1px solid #ccc; }
#content ul.display li a { color:#000; }
#content ul.display li a:hover { color:#444; }

#content ul.thumb_view li{ border-bottom:none; }
#content ul.thumb_view li .content_block a.product_thumb{ border:1px solid #ccc; }
#content ul.thumb_view li .content_block a:hover.product_thumb{ border:1px solid #333; }

#content ul.display li .content_block a.product_thumb{ border:1px solid #ccc; }
#content ul.display li .content_block a:hover.product_thumb{ border:1px solid #333; }

#content ul.display li h3 a { color:#0281ca; }
#content ul.display li h3 a:hover { color:#000; }

.specialpirce { color:#9e9e9e; }
.price { color:#000; }
.prdprice {  color:#000; }

a.viewcart { color:#000;  }
a:hover.viewcart {  color:#000; }

#content ul.display .content ul li { border-bottom:none; background:url(1-default/i_bullet.png) no-repeat 3px 10px; }
#content ul.display li .sale_img { border:none; }
#content ul.thumb_view li .sale_img { border:none; }

/* ----------------------------------------
product listing view 
------------------------------------*/
.msg { float:left; margin-right:10px;  }
 
#content ul.display li { background:none; border-bottom:1px solid #ccc; }
#content ul.display li a { color:#000; }
#content ul.display li a:hover { color:#444; }

#content ul.thumb_view li{ border-bottom:none; }
#content ul.thumb_view li .content_block a.product_thumb{ border:1px solid #ccc; }
#content ul.thumb_view li .content_block a:hover.product_thumb{ border:1px solid #333; }

#content ul.display li .content_block a.product_thumb{ border:1px solid #ccc; }
#content ul.display li .content_block a:hover.product_thumb{ border:1px solid #333; }

#content a.switch_thumb { background:url(1-default/switch.gif) no-repeat right top; outline:none; color:#444; }
#content a.swap { background-position:right -26px; color:#000; }
#content a:hover.swap { color:#000; }

.specialpirce { color:#9e9e9e; }
.price { color:#000; }
.prdprice {  color:#000; }

a.viewcart { color:#000;  }
a:hover.viewcart {  color:#000; }

#content ul.display .content ul li { border-bottom:none; background:url(1-default/bullet.png) no-repeat 3px 10px; }
#content ul.display li .sale_img { border:none; }
#content ul.thumb_view li .sale_img { border:none; }

/* table format  --------------------- */

.table td.title {  color:#0281ca; border-bottom:2px solid #ddd; border-top:2px solid #ddd; }
.table td.title1 {  color:#0281ca; border-bottom:2px solid #ddd;}
.table .row1 { background:#fff; border-right:1px solid #ddd; border-bottom:1px solid #ddd; color:#444;   }
.table .row1 a { color:#333; }
.table .row3 { background:#fff;  border-bottom:1px solid #ddd; color:#333; }
.table .bnone { border-right:none; }
.table .remove {background:#fff; border-bottom:1px solid #ddd; color:#333;  }
.table .total_price { border-right:1px solid #ddd; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#eee; color:#000; }
.table .row2 { background:#eee; border-right:1px solid #ddd;  border-bottom:1px solid #ddd; border-top:1px solid #ddd; color:#333; }
.table a { color:#333; }
.table a:hover { color:#000; }
.table .pro_title { color:#000; }
.table .pro_des { color:#666; }
.table .qty { border:1px solid #ccc; }
.button_bar2 { border-top:1px solid #ccc; border-bottom:1px solid #ccc; }

.remove_item { background:url(1-default/remove_icon.png) no-repeat; }
.product_thum { border:1px solid #ccc; background:#fff; }

.action_button { background:#9c9c9c; color:#fff; text-align:center; border:none; cursor:pointer;  -moz-border-radius:0.5em; }
.action_button:hover { background:#636363; }

.coupon_code { background:#eee; border-right:1px solid #ccc; }
.coupon_text { border:1px solid #ccc; }

.total_amount { background:#e8e8e8; border-top:1px solid #ddd; border-bottom:1px solid #ddd; }
.total_amount_title { background:#e8e8e8; border-top:1px solid #ddd; border-bottom:1px solid #ddd; }

.order_info { border:1px solid #ccc; background:#fff; }


/* checkout page ------------------------------------------------ */

.checkout_address { height:100%; overflow:hidden; }
.address_info { border:1px solid #ccc; padding:15px; margin-bottom:20px;}

#content .address_info h3 {  font-size:16px; font-weight:bold; border-bottom:1px solid #ccc; margin-top:1px;  }
.address_row { height:100%; overflow:hidden; line-height:18px; }

#content .address_info h3 span { font-size:12px; color:#444; }
#content .address_info h3 span a { color:#444; }
#content .address_info h3 span a:hover { color:#000; }


.shipping_method {  border:1px solid #ccc; background:#eee;  padding:5px 10px; height:100%; overflow:hidden; margin-bottom:20px;    }
#content .shipping_method p { margin:0; padding:0;  }
.method { color:#FF3300; font-weight:bold; font-size:13px; }

#content h3.shipping_cart { margin:0; padding:5px; font:bold 16px Arial, Helvetica, sans-serif; background:#eee; border-top:1px solid #ddd;  }

.table_spacer { margin-bottom:30px; }
.payment_method  { border:1px solid #ccc;   }

#page .form_col_2 h3, #page .login_form h3, #page .lostpassword_form h3 { color:#0281ca; }
.form, .myorder_form, .login_form, .lostpassword_form { background:#edf8ff; border:1px solid #c2d9e7; }


/* Login Form ------------------------------------------------ */
#content h5 { border-bottom:1px solid #ccc; color:#444;  }
#content p.forgetmenot { color:#666; }
#content p.mandatory { color:#666; }
#reg_passmail { color:#333; }


.form h5  { border-bottom:1px solid #ccc; }
.form_row label, .reg_row label, .lostpassword_form label, .myorder_form_row label { color:#000; }
.form_textfield, .reg_row_textfield, .lostpass_textfield, .reg_row_textarea { border:1px solid #ccc; }


.forgot_pass { background:#9c9c9c; color:#fff; border:none; }
.forgot_pass:hover { background:#636363; }


.indicates { color:#990000; }

.sucess_msg { background:#e7ffd6; color:#4e8426; border-top:1px solid #a4ce84; border-bottom:1px solid #a4ce84; }
.error_msg { background:#ffdada; color:#b01a1a; border-top:1px solid #a64646; border-bottom:1px solid #a64646; }

.myorders  { border:1px solid #ccc; height:100%; overflow:hidden; margin-bottom:20px; }
.myorders_col { width:43%; padding:10px 15px 15px 15px; margin-bottom:20px; }
.myorder_text {  border:1px solid #ccc; color:#444; }

/* product details --------------------- */
#content .fav_link  { border-bottom:1px dashed #ccc; }
#content .fav_link  li.print { background:url(../images/i_print.png) no-repeat 5px 5px;  }
#content .fav_link  li.sharethis { background:url(../images/i_sharethis.png) no-repeat 8px 6px; border-right:none; }
#content .fav_link  li.rss { background:url(../images/i_rss_s.gif) no-repeat 5px 6px;  }
#content .fav_link  li.emailtofriend { background:url(../images/i_email.png) no-repeat 7px 9px; cursor:pointer; border-right:none; }



#content .addtocartformspan  { color:#389413; background:#d8ffc9; }
#content #addtocartformspan, #content #addtocartformspan2 { color:#389413; }

.product_details { /*background:#eee; border:1px solid #ccc; */}
.price { color:#000;}
.size_chart { color:#444; }
.zoom  a { background:url(1-default/zoom.png) no-repeat; }
div.photo img {  }
.main_photo { background:#fff; border:1px solid #ccc; }
.mm { background:#fff; border:5px solid #ccc; }

#content div#photos img {  border:1px solid #ccc; background:#ccc;  }
#photos img { margin-top:10px; }

/* size  chart popupwindow -------------------*/
#info { background:#fff; border:4px solid #c8c8c8; }
#info a {color:#000;}
.more:hover { color:#000; }
.clear {clear:both; }
.close {color:#000;}


/* view cart page --------------- */
#content a.normal_button { border:1px solid #bbb; text-shadow:0 1px 0 #FFFFFF; color:#444; background:#fff; }
#content a:hover.normal_button, .normal_button:focus { border:1px solid #333; background:#fff; color:#000; }
#content a.highlight_button, #content .viewdetails a.highlight_button { border:1px solid #464646; color:#fff; background:#464646; }
a:hover.highlight_button, #content .viewdetails a:hover.highlight_button { border:1px solid #333; background:#000; color:#fff; }
#page a.highlight_button { border:1px solid #0281ca; color:#fff; background:#0281ca; }
#page a:hover.highlight_button { border:1px solid #333; color:#fff; background:#000; }


#content .normal_input_btn,.normal_input_btn { border:1px solid #bbb; text-shadow:0 1px 0 #FFFFFF; color:#444; background:#fff; }
#content .normal_input_btn:hover,.normal_input_btn:hover { border:1px solid #333; background:#fff; color:#000; }

#content .highlight_input_btn ,.highlight_input_btn { border:1px solid #0281ca; color:#fff; background:#0281ca; }
#content .highlight_input_btn:hover, .highlight_input_btn:hover { border:1px solid #333; background:#000; color:#fff; }

#authorizenetoptions input, #authorizenetotions select{ border:1px solid #ccc; } 
#content .help h5 { border-bottom:none; }
#content .help li a { color:#444; }
#content .help li a:hover { color:#000; }
#content #mycart_sidebar .payment_info { border-top:1px solid #ccc; }

/* --------------- */

#content .archive_list li { background:url(1-default/i_bullet.gif) no-repeat left 12px; }
#searchform { background:url(1-default/searchbg.png) no-repeat; }
#searchform #s { background:none; }
#searchform #searchsubmit { background:url(../images/i_search.png) no-repeat left top; border:none;  }
#search_btn { background:none; }
#searchform #s { color:#333; background:#none; border:none; }




/* contact us page ----------- */
#content .form_row .textfield { border:1px solid #ccc; border-right:2px solid #666; border-bottom:2px solid #666;  background:#fff; color:#777; } 
#content .form_row .textarea { border:1px solid #ccc; background:#fff; border-right:2px solid #666; border-bottom:2px solid #666; color:#777; } 
#content .error, .message_error2 { color:#C00; }
#contact_frm .b_submit  { border:3px double #fff; background:#0281CA; color:#fff; }
#contact_frm .b_submit:hover { background:#333; border:3px double #fff; }
#content p.success_msg { color:#356c1d; background:#cee8c3; border-top:1px solid #7ea96b; border-bottom:1px solid #7ea96b; }
.indicates{ color:#C00; }