#calendarDiv{
	position:absolute;
	width:195px;
	border:1px solid #C8E0F5;
	padding:1px;
	background-color: #E9F1F6;
	font-family:arial;
	color:#1474D4;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}

#calendarDiv .selectBox{
	border:1px solid #E9F1F6;		
	color:#1474D4;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #C8E0F5;
	color: #1474D4;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	background-color: #C8E0F5;
	
}
#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E9F1F6;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#calendarDiv .monthYearPicker{
	background-color: #E9F1F6;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #1474D4;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#calendarDiv #monthSelect{
	width:70px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#C8E0F5;
	color: #1474D4;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}